{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div>

    
        <div style='background-color:lightgreen; color:white; margin-bottom:10px;'>
            {% for message in app.flashes('success') %}
                {{ message }}
            {% endfor %}
        </div>
  

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ lastUsername }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="{{ path('app_home') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        

        <button type="submit">login</button>
    </form>
</div>
{% endblock %}
