{% extends "base.html.twig" %}

{% set pageName = "Client's Account" %}

{% block title %} {{ pageName }} {% endblock %}

{% block body %}
    {% include "home/_navigation.html.twig" with { pageName: pageName } %}

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>ID</th>
                <th>Username</th>
                <th>Address</th>
                <th>Country</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
                <tr class="text-center">
                    <td>{{ user.email }}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.userprofile.username }}</td>
                    <td>{{ user.userprofile.address }}</td>
                    <td>{{ user.userprofile.country }}</td>
                    <td>{{ user.userprofile.phone }}</td>
                </tr>
        </tbody>
    </table>

{% endblock %}