{% extends "base.html.twig" %}

{% block body %}
    <h1>Edit Product</h1>
    
    {% include "home/_user_role_welcome.html.twig" %}
    {% include "administrator/_flashes.html.twig" %}

    {{ form_errors(form) }}

    {{ form_start(form, {'attr': {'class': 'form_wrapper'}}) }}

        {{ form_label(form.name, 'Product name:', {'label_attr': {'class': 'form_label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form_text'}}) }}

        {{ form_label(form.category, 'Category:', {'label_attr': {'class': 'form_label'}}) }}
        {{ form_widget(form.category, {'attr': {'class': 'form_text'}}) }}

        {{ form_label(form.price, 'Price:', {'label_attr': {'class':'form_label'}}) }}
        {{ form_widget(form.price, {'attr': {'class': 'form_text'}}) }}

        {{ form_label(form.unit, 'Unit:', {'label_attr': {'class':'form_label'}}) }}
        {{ form_widget(form.unit, {'attr': {'class': 'form_text'}}) }}

        <button type="submit" name="form.save" class="btn">Apply Product Details</button>
    {{ form_end(form) }}
    



{% endblock %}