{% extends "base.html.twig" %}

{# {% block stylesheets %}
    {% include "administrator/_styles.html.twig" %}
{% endblock %} #}

{% block body %}
    <h1>Administrator's Page</h1>

    {% include "administrator/_admin_navigation.html.twig" %}
    {% include "home/_user_role_welcome.html.twig" %}
    {% include "administrator/_flashes.html.twig" %}

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Address</th>
                <th>Country</th>
                <th>Phone</th>
                <th class="table_edit_th">EDIT</th>
                <th class="table_delete_th">DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.roles.0 }}</td>
                    <td>{{ user.userprofile.username }}</td>
                    <td>{{ user.userprofile.address }}</td>
                    <td>{{ user.userprofile.country }}</td>
                    <td>{{ user.userprofile.phone }}</td>
                    <td class="table_edit_btn">
                        <a href="{{ path('app_edit_user', {id: user.id} ) }}" class="block">EDIT</a>
                    </td>
                    <td class="table_delete_btn">
                        <a href="{{ path('app_delete_user', {id: user.id}) }}" class="block">DELETE</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}