{% extends "base.html.twig" %}

{% block stylesheets %}
    {% include "administrator/_styles.html.twig" %}
{% endblock %}

{% block body %}
    <h1>Administrator's Page</h1>

    {% include "administrator/_admin_navigation.html.twig" %}
    {% include "home/_user_role_welcome.html.twig" %}
    {% include "administrator/_flashes.html.twig" %}

    <table>
        <thead>
            <tr style="border:1px solid gray">
                <th>Email</th>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Address</th>
                <th>Country</th>
                <th>Phone</th>
                <th class="background-green color-white">EDIT</th>
                <th style="background-color:red; color:white">DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.roles.0 }}</td>
                    <td>{{ user.userprofile.username }}</td>
                    <td>{{ user.userprofile.address }}</td>
                    <td>{{ user.userprofile.country }}</td>
                    <td>{{ user.userprofile.phone }}</td>
                    <td class="background-lightgreen edit">
                        <a href="{{ path('app_edit_user', {id: user.id} ) }}">EDIT</a>
                    </td>
                    <td class="background-coral delete">
                        <a href="{{ path('app_delete_user', {id: user.id}) }}">DELETE</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}