{% extends "base.html.twig" %}

{# {% block stylesheets %}
    <style>
        table {
            border:3px solid black;
            border-collapse: collapse;
        }

        th, td {
           border:1px solid black;
           padding: 3px;
        }

        th {
            background-color: lightblue;
        }

        .background-lightgreen {
            background-color: lightgreen;
        }

        .background-lightcoral {
            background-color: lightcoral;
        }

    </style>
{% endblock %} #}

{% block body %}
    <h1>Administrator's Page</h1>

    {% include "administrator/_admin_navigation.html.twig" %}
    {% include "home/_user_role_welcome.html.twig" %}
    {% include "administrator/_flashes.html.twig" %}
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product name</th>
                <th>Unit</th>
                <th>Price</th>
                <th class="table_edit_th">EDIT</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td class="text-center">{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.unit }}</td>
                    <td>{{ product.price }}</td>
                    <td class="table_edit_btn">
                        <a href="{{ path('app_edit_product', {product: product.id} ) }}" class="block">EDIT</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}