{% include "base.html.twig" %}

{% block stylesheets %}
    <style>
        table {
            border:3px solid black;
            border-collapse: collapse;
        }

        th, td {
           border:1px solid black;
           padding: 3px;
        }

        th {
            background-color: lightblue;
        }

        .background-lightgreen {
            background-color: lightgreen;
        }

        .background-lightcoral {
            background-color: lightcoral;
        }

    </style>
{% endblock %}

{% block body %}
    <h1>Administrator's Page</h1>

    {% include "administrator/_admin_navigation.html.twig" %}
    
    {% include "home/_user_role_welcome.html.twig" %}

    {% for productEdited in app.flashes('productEdited') %}
        <div class="background-lightgreen">
            {{ productEdited }}
        </div>
    {% endfor %}
    
    <table>
        <thead>
            <tr style="border:1px solid gray">
                <th>ID</th>
                <th>Product name</th>
                <th>Unit</th>
                <th>Price</th>
                <th style="background-color:green; color:white">EDIT</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.unit }}</td>
                    <td>{{ product.price }}</td>
                    <td class="background-lightgreen">
                        <a href="{{ path('app_edit_product', {product: product.id} ) }}">EDIT</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}